html,
body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1));
    background: -webkit-linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1));
    background: -moz-linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1)); */
    background: white;
    background-repeat: no-repeat;
    margin: auto;
    /* padding: 10px; */
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(Montserrat-Medium.ttf) format('ttf');
}


.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* header {
    width: 100vw;
} */


/* Login form */
.login-form {
    align-items: center;
    background-color: grey;
    height: 50%;
    width: 20%;
}


input {
    display: inline-block;
    padding: 10px;

}

/* Navigation Bar */

.navbar {
    display: flex;
    width: 100vw;
    font-family: Montserrat;
    background-color: #25a9f5;
    padding: 15px;
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navbar a {
    text-decoration: none;
    text-align: end;
    margin: auto 2% auto 2%;
    padding: 10px;
    font-size: 25px;
    color: black;
}

.navbar a:hover {
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.navbar a.active {
    padding: 5px;
    text-decoration: none;
    background-color: darkgoldenrod;
}

.navbar .logo {
    text-align: start;
    font-size: 30px;
    color: palevioletred;
}