html {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1));
    background: -webkit-linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1));
    background: -moz-linear-gradient(to top, rgba(43, 64, 48, 1), rgba(108, 189, 129, 1)); */
    background: #313131;
    background-repeat: no-repeat;
}

body {
    /* background: url('https://static.vecteezy.com/system/resources/previews/006/504/485/original/abstract-wallpaper-using-blue-color-scheme-with-blob-shape-and-using-4k-resolution-suitable-for-all-used-free-photo.jpg'); */
    /* background-color: #282c34; */
    background: transparent;
    color: white;
    padding: 40px;
    font-family: Arial;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(Montserrat-Medium.ttf) format('ttf');
}

#name {
    text-align: center;
    font-family: Montserrat;
}
div.login-form{
    position: absolute;
    align-items: center;
    background-color: grey;
    height: 40%;
    width:30%;
    left:35%;
    top:30%
}
input {
    position: relative;
    top: 35%;
    width: 50%;
    height: 10%;
    left: 25%
    
}
button{
    position: relative;
    top:50%;
    margin-top:5%;
    width: 30%;
    left: -15%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  
li a {
    
    display: block;
    color: white;
    text-align: center;
    
    
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}
#setting{
    position: relative;
    font-size: 20px;
    left: 10px;
}
/* Navigation Bar */
div.navigation-bar {
    /*  */

}